<div class="container-fluid" ng-init="dashboardInit()" ng-cloak ng-show="authentication.isSettingComplete" ng-controller="DashboardCtrl">
    <div>
      <section ng-class="{'content': authentication.isSettingComplete}">
        <div class="row">
          <!-- Nav tabs -->
          <div class="col-md-8 padding-right-0">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active">
                <div class="row">
                  <div class ="col-md-12">
                    <div class="flex">
                    <span><i class="zmdi zmdi-account zmdi-hc-2x dashboard-icons"></i></span>
                    <span><h4 class="col-md-11 col-xs-11">Overview</h4></span>
                    </div>
                  </div>
                </div>
                <div class="mini-charts">
                  <div class="row p-r-20">
                    <div class="col-sm-6 col-md-4 col-xs-12">
                      <div class="chart-item bgm-white" tooltip-placement="top" uib-tooltip="Total number of unique customers so far..">
                        <div class="clearfix">
                          <div class="count dashboard-card p-t-15">
                            <span class="shop-stat" ng-bind="statData.totalCustomers || 0"></span><span ng-if="showtotalCustomers" class="m-l-15 p-l-5 p-r-5 font-12 pos-relative pos-bottom-10 bg-green color-white border-radius-5">+{{growthData.totalCustomers || 0}}</span><br>
                            <p ng-class="{'p-t-10 p-b-10 p-t-10 m-b-0':showtotalCustomers,'p-t-10 p-b-10 m-b-0':!showtotalCustomers}">Total Customers</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xs-12">
                      <div class="chart-item bgm-white" tooltip-placement="top" uib-tooltip="Returned customers in percent">
                        <div class="clearfix">
                          <div class="count dashboard-card p-t-15">
                            <span class="shop-stat">{{statData.returnCustomersPercent || 0}}%</span><span ng-if="showreturnCustomers" class="m-l-15 p-l-5 p-r-5 font-12 pos-relative pos-bottom-10 bg-green color-white border-radius-5">+{{growthData.returnCustomersPercent || 0}}%</span><br>
                            <p ng-class="{'p-t-10 p-b-10 p-t-10 m-b-0':showreturnCustomers,'p-t-10 p-b-10 m-b-0':!showreturnCustomers}">Return Customers</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xs-12">
                      <div class="chart-item bgm-white" tooltip-placement="top" uib-tooltip="Total number of customer visits so far..">
                        <div class="clearfix">
                          <div class="count dashboard-card p-t-15">
                          <span class="shop-stat" ng-bind="statData.totalVisits || 0"></span><span ng-if="showWifiConnections" class="m-l-15 p-l-5 p-r-5 font-12 pos-relative pos-bottom-10 bg-green color-white border-radius-5">+{{growthData.totalVisits || 0}}</span><br>
                            <p ng-class="{'p-t-10 p-b-10 p-t-10 m-b-0':showWifiConnections,'p-t-10 p-b-10 m-b-0':!showWifiConnections}">Total Wifi Connections</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class ="flex">
                  <span><i class="zmdi zmdi-chart zmdi-hc-2x dashboard-icons"></i></span>
                  <span class="p-l-15"><h4>Customer Foot Traffic</h4></span>
                  <i class="zmdi zmdi-info color-gray p-b-10 p-l-11 align-end"  tooltip-placement="right" uib-tooltip="Below is a breakdown of the amount of customers who have visited your business based on your selected filter."></i>
                </div>
                <div class="card custostats dashboard-card" style="margin-right:20px;">
  <div class="card-header flex">
       <ul class="nav filter-list" role="tablist" id="step3">
                <li role="presentation" ng-class="{active: activeDashBoardTab == 'cumulative'}" ng-click="changeTabView('cumulative')">
                  <a aria-controls="cumulative" role="tab" data-toggle="tab">Cumulative</a>
                </li>
                <li role="presentation" ng-class="{active: activeDashBoardTab == 'day'}" ng-click="changeTabView('day')">
                  <a aria-controls="day" role="tab" data-toggle="tab">Day</a>
                </li>
                <li role="presentation" ng-class="{active: activeDashBoardTab == 'week'}" ng-click="changeTabView('week')">
                  <a aria-controls="week" role="tab" data-toggle="tab">Week</a>
                </li>
                <li role="presentation" ng-class="{active: activeDashBoardTab == 'month'}" ng-click="changeTabView('month')">
                  <a aria-controls="month" role="tab" data-toggle="tab">Month</a>
                </li>
                <li role="presentation" ng-class="{active: activeDashBoardTab == 'custom'}" ng-click="changeTabView('custom')">
                  <a aria-controls="custom" role="tab" data-toggle="tab">Custom</a>
                </li>
              </ul>
              <div class="graph-index"><p>UTC {{offsetHours}}:{{offsetmin}} hrs</p></div>
  </div>
                <form role="form"  ng-if="activeDashBoardTab == 'custom'">
                  <div data-ng-controller="DatepickerDemoCtrl">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group align-center-m">
                          <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened1 == true }">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                            <div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }">
                              <input ng-click="open1($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="startDate" is-open="opened1" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date from" readonly="" ng-change="selectFromDate(startDate)" datepicker-Localdate/>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group align-center-m">
                          <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                            <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                              <input ng-click="open2($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="endDate" is-open="opened2" max-date="maxDate" min-date="startDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date to" readonly="" ng-change="selectToDate(endDate)" datepicker-Localdate/>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </form>
  <div class="card-body p-5">
  <div class="chart-edge">
    <canvas id="line-chart" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series"
      chart-click="onClick" chart-options="opts" chart-colors="opts.colors"></canvas>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-4 padding-left0 padding-right-30" ng-init="announcementInit()" ng-controller="NewAnnouncementLocationCtrl">
    <div class="row">
          <div class="col-md-12 flex">
          <span class="padding-top-5"><img src="https://res.cloudinary.com/atmosfi/image/upload/v1491210989/announcement_kx5ual.png" class="width-2"/></span>
          <span class="col-md-11 col-xs-11"><h4>Local Network</h4></span>
          </div>
    </div>
    <div class="bgm-white dashboard-card p-b-20">
      <div class="row" ng-if="activeLocalAnnouncements[0].title">
         <div class ="card-content col-md-12 p-t-20">
          <div class="col-md-2 col-xs-2 p-t-10">1</div>
          <div class="col-md-6 col-xs-6 padding-0">
            <p class="bold p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[0].title | characters:20 : true}}</p> 
            <p class="italic p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[0].updatedTime}}</p>
          </div>
          <div class="right p-t-10 p-r-16">{{activeLocalAnnouncements[0].view_count || 0}} Views</div>
          </div>
        </div>
      <hr class="m-b-0" ng-if="activeLocalAnnouncements[1].title">
      <div class ="row" ng-if="activeLocalAnnouncements[1].title">
      <div class="card-content col-md-12 p-t-10">
          <div class="col-md-2 col-xs-2 p-t-10">2</div>
          <div class="col-md-6 col-xs-6 padding-0">
            <p class="bold p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[1].title | characters:20 : true}}</p>
            <p class="italic p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[1].updatedTime}}</p>
          </div>
          <div class="right p-t-10 p-r-16">{{activeLocalAnnouncements[1].view_count || 0}} Views</div>
        </div>
   </div>
       <div class="row" ng-if="!activeLocalAnnouncements[0].title && !activeLocalAnnouncements[1].title">
         <div class ="card-content col-md-12 p-t-20">
          <div class="p-l-20 color-gray">No announcements to be shown</div>
          </div>
        </div>
   </div>
   <div class="row margin-0">
   <div class="float-right p-t-10">
     <a class="cursor-pointer" ng-click="newAnnouncementLocationType()">SHARE POSTS</a>
        <script type="text/ng-template" id="addNewAnnouncement.html">
            <create-announcement-form></create-announcement-form>
        </script>
        <script type="text/ng-template" id="selectLocationAnnouncementType.html">
          <div class="margin-top-150">
          <div class="modal-header padding-0">
                    <div class="row">
                      <div class="text-right col-xs-12 padding-right-20">
                        <span class="cursor-pointer" ng-click="cancel()"><i class="zmdi zmdi-close font-24 margin-left-20"></i></i></span>
                        </div>
                    </div>
          </div>
          <div class="modal-body p-t-20 p-b-25">
            <div class="row">
              <div class="col-xs-12 text-center">
            <button class="btn bgm-green btn-lg waves-effect width-247" ng-click="newAnnouncementLocationCreate()">Create Post</button><br>
            <span>Create Content for New Post</span><br><br>
            <span>OR<span><br><br>
            <button class="btn bgm-green btn-lg waves-effect width-247" ng-click="newAnnouncementLocationLink()">Share a Link</button><br>
            <span>Share Content you have already created</span>
            </div>
            </div>
            </div>
            </div>
          </script>
          <script type="text/ng-template" id="addNewAnnouncementShare.html">
                  <create-announcement-form-share></create-announcement-form-share>
                       </script>
    </div>
    </div>&nbsp;&nbsp;
     <div class="row">
                  
                    <div class="col-md-12 flex">
                    <span class="p-t-10"><i class="zmdi zmdi-email zmdi-hc-lg color-gray"></i></span>
                    <span class="col-md-11 col-xs-11"><h4>Email Metrics</h4></span>
                    </div>
                  
                </div>
    <div class ="row margin-0">
      <div class="bgm-white dashboard-card p-t-10">
        <div class="card-content" align="center">
          <span class="font-lg">Total Subscribers</span>
          <h2 ng-bind="statData.totalSubscribers || 0"></h2>
          <h6 class="color-gray p-b-20">Customers</h6>
        </div>
        </div>
      </div>
        <div ng-if="lastPlanID === marketingPlanId">
      <div class="row margin-0" tooltip-placement="left" uib-tooltip="Upgrade to Marketing plan to view E-mail open rate">
        <div class="bgm-white dashboard-card p-t-10 op">
          <div class="card-content" align="center">
          <span class="font-lg block color-gray">Email Open Rate</span>
            <div class="easy-pie sub-pie-2 p-t-10" easypiechart options="options" percent="0">
                  <div class="percent color-gray">0</div>
                </div>
            </div>
          </div>
        </div>&nbsp;
         <div class="row margin-0">
   <div class="float-right">
     <a class="cursor-pointer" ng-click="moveToBillings()" tooltip-placement="left" uib-tooltip="Click to change plan">UPGRADE</a><span>
    </div>
    </div>
  </div>
        <div ng-if="lastPlanID !== marketingPlanId">
      <div class="row margin-0">
        <div class="bgm-white dashboard-card p-t-10">
          <div class="card-content" align="center">
          <span class="font-lg block">Email Open Rate</span>
            <div class="easy-pie sub-pie-2 p-t-10" easypiechart options="options" percent="openrate">
                  <div class="percent">{{ openrate || 0}}%</div>
                </div>
            </div>
          </div>
        </div>&nbsp;
         <div class="row margin-0">
   <div class="float-right">
     <a class="cursor-pointer" ng-click="newAnnouncementLocationCreate(true)">EMAIL CUSTOMERS</a>
    </div>
    </div>
  </div>
  </div>
  <!--roe end-->
  </section>
  <!--Tutorial Modal-->
  <script type="text/ng-template" id="myTutorialModalContent.html">
      <div class="modal-footer">
          <p>Welcome</p>
          <p>Hello</p>
          <div class="btn btn-link" ng-click="ok()">OK</div>
          <div class="btn btn-link" ng-click="cancel()">Cancel</div>
      </div>
  </script>
  <!--/Modal-->
  </div>
  </div>