<div class="mini-charts">
    <div class="row p-r-20">
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="chart-item bgm-white" tooltip-placement="top" uib-tooltip="Total number of unique customers so far..">
                <div class="clearfix">
                    <div class="count dashboard-card p-t-15">
                        <span class="shop-stat" ng-bind="statData.totalCustomers || 0"></span>
                        <span ng-if="showtotalCustomers" class="m-l-15 p-l-5 p-r-5 font-12 pos-relative pos-bottom-10 bg-green color-white border-radius-5">+{{growthData.totalCustomers || 0}}</span>
                        <br>
                        <p ng-class="{'p-t-10 p-b-10 p-t-10 m-b-0':showtotalCustomers,'p-t-10 p-b-10 m-b-0':!showtotalCustomers}">Total Customers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="chart-item bgm-white" tooltip-placement="top" uib-tooltip="Returned customers in percent">
                <div class="clearfix">
                    <div class="count dashboard-card p-t-15">
                        <span class="shop-stat">{{statData.returnCustomersPercent || 0}}%</span>
                        <span ng-if="showreturnCustomers" class="m-l-15 p-l-5 p-r-5 font-12 pos-relative pos-bottom-10 bg-green color-white border-radius-5">+{{growthData.returnCustomersPercent || 0}}%</span>
                        <br>
                        <p ng-class="{'p-t-10 p-b-10 p-t-10 m-b-0':showreturnCustomers,'p-t-10 p-b-10 m-b-0':!showreturnCustomers}">Return Customers</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="card-header flex">
            <ul class="nav filter-list" role="tablist" id="step3">
                     <li role="presentation" ng-class="{active: activeDashBoardTab == 'cumulative'}" ng-click="changeTabView('cumulative')">
                       <a aria-controls="cumulative" role="tab" data-toggle="tab">Cumulative</a>
                     </li>
                     <li role="presentation" ng-class="{active: activeDashBoardTab == 'day'}" ng-click="changeTabView('day')">
                       <a aria-controls="day" role="tab" data-toggle="tab">Day</a>
                     </li>
                     <li role="presentation" ng-class="{active: activeDashBoardTab == 'week'}" ng-click="changeTabView('week')">
                       <a aria-controls="week" role="tab" data-toggle="tab">Week</a>
                     </li>
                     <li role="presentation" ng-class="{active: activeDashBoardTab == 'month'}" ng-click="changeTabView('month')">
                       <a aria-controls="month" role="tab" data-toggle="tab">Month</a>
                     </li>
                     <li role="presentation" ng-class="{active: activeDashBoardTab == 'custom'}" ng-click="changeTabView('custom')">
                       <a aria-controls="custom" role="tab" data-toggle="tab">Custom</a>
                     </li>
                   </ul>
                   <div class="graph-index"><p>UTC {{offsetHours}}:{{offsetmin}} hrs</p></div>
       </div>
        </div>
        <div class="bgm-white dashboard-card p-b-20">
            <div class="row" ng-if="activeLocalAnnouncements[0].title">
                <div class="card-content col-md-12 p-t-20">
                    <div class="col-md-2 col-xs-2 p-t-10">1</div>
                    <div class="col-md-6 col-xs-6 padding-0">
                        <p class="bold p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[0].title | characters:20 : true}}</p>
                        <p class="italic p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[0].updatedTime}}</p>
                    </div>
                    <div class="right p-t-10 p-r-16">{{activeLocalAnnouncements[0].view_count || 0}} Views</div>
                </div>
            </div>
            <hr class="m-b-0" ng-if="activeLocalAnnouncements[1].title">
            <div class="row" ng-if="activeLocalAnnouncements[1].title">
                <div class="card-content col-md-12 p-t-10">
                    <div class="col-md-2 col-xs-2 p-t-10">2</div>
                    <div class="col-md-6 col-xs-6 padding-0">
                        <p class="bold p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[1].title | characters:20 : true}}</p>
                        <p class="italic p-t-0 p-b-0 m-b-0">{{activeLocalAnnouncements[1].updatedTime}}</p>
                    </div>
                    <div class="right p-t-10 p-r-16">{{activeLocalAnnouncements[1].view_count || 0}} Views</div>
                </div>
                <div class="col-sm-6 col-md-4 col-xs-12">
                    <div class="chart-item bgm-white" tooltip-placement="top" uib-tooltip="Total number of customer visits so far..">
                        <div class="clearfix">
                            <div class="count dashboard-card p-t-15">
                                <span class="shop-stat" ng-bind="statData.totalVisits || 0"></span>
                                <span ng-if="showWifiConnections" class="m-l-15 p-l-5 p-r-5 font-12 pos-relative pos-bottom-10 bg-green color-white border-radius-5">+{{growthData.totalVisits || 0}}</span>
                                <br>
                                <p ng-class="{'p-t-10 p-b-10 p-t-10 m-b-0':showWifiConnections,'p-t-10 p-b-10 m-b-0':!showWifiConnections}">Total Wifi Connections</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!activeLocalAnnouncements[0].title && !activeLocalAnnouncements[1].title">
                <div class="card-content col-md-12 p-t-20">
                    <div class="p-l-20 color-gray">No announcement to be shown</div>
                </div>
            </div>
        </div>
    </div>
</div>